run = "node backend/server.js"
language = "nodejs"
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "node backend/server.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 23482
externalPort = 3000

[agent]
expertMode = true
