run = "node backend/server.js"
language = "nodejs"
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "node backend/server.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 23482
externalPort = 3000

[[ports]]
localPort = 23483
externalPort = 3001

[agent]
expertMode = true

[userenv]

[userenv.shared]
ZABBIX_USER = "Admin"
